
body{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: "Permanent Marker", cursive;
    height: 75px;
    padding: 10px;
    margin: 100px;
}

.board {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    grid-template-columns: repeat(3, auto);
    position:relative;
    box-shadow: 0 0 15px 10px;
    margin: 40px, auto;
    font-family: "Permanent Marker", cursive;
    text-align: center;
}

#board:hover {
    cursor: cell;
}

.space{
    color: rgb(250, 4, 176);
    background-color:deepskyblue;
    width: 75px;
    height: 75px;
    margin: 7px;
    border: 2px solid;
    line-height: 75px;
    font-size: 75px;
    cursor: pointer;
}

#spaceContainer{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
}

h1{
    display: flex;
    justify-content: center;
    text-align:center;
    font-size: 50px;
    color: rgb(250, 4, 176);
    padding: 20px;
    margin: auto;
    border: 5px dotted deepskyblue;
    border-radius: 100px;
    
}

p{
    color: rgb(250, 4, 176);
    text-align: center;
    margin: 50px;
    font-size: 25px;
}

h2{
    color: rgb(250, 4, 176);
    text-align: center;
    margin: 50px;

}

select{
   color: black;
   background-color: rgb(250, 4, 176);
   display: flex;
   flex: center;

}

#statusText{
    color: rgb(250, 4, 176);
    font-size: 40px;
    font-family: "Permanent Marker", cursive;
    text-align: center;
}

#results {
    width: 200px;
    height: 50px;
    font-size: 50px;
    color: rgb(250, 4, 176);
    text-align: center;
    
}

button{
    background-color: deepskyblue;
    color: black;
    border-radius: 7px;
    font-family: "Permanent Marker", cursive;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 10px 20px;
   display: inline-block;
   border: 3px solid rgb(250, 4, 176);
}

button:hover {
    cursor: pointer;
    background-color: rgb(30, 163, 245);
}